# Capstone Two: Data Wrangling  
**Justin Ali**  
Springboard Data Science Career Track  
Dataset: U.S. Lower 48 Hourly Electricity Demand & Generation (UTC)

## 1. Project Overview

## 2. Data Collection

## 3. Data Organization

## 4. Data Definition

## 5. Data Cleaning

## 6. Final Clean Dataset

## 7. Summary of Wrangling Decisions

In [3]:
import pandas as pd
pd.__version__

'2.2.3'

# Capstone Two: Data Wrangling  
**Justin Ali**  
Springboard Data Science Career Track  
Dataset: U.S. Lower 48 Hourly Electricity Demand & Generation (UTC)

## 1. Project Overview

This notebook documents the data wrangling process for an hourly time-series dataset covering electricity demand and net generation by source for the U.S. Lower 48. The objective is to produce a clean, merged, and analysis-ready dataset that supports downstream exploratory analysis and demand forecasting. The raw data consists of multiple CSV files that must be standardized, validated, and joined on a common hourly UTC timestamp.

## 2. Data Collection

In [4]:
# Imports and loading raw CSV files from ../data/raw
import pandas as pd
import numpy as np
from pathlib import Path

DATA_PATH = Path("../data/raw")

In [5]:
sorted([p.name for p in DATA_PATH.glob("*.csv")])

def load_one(pattern: str) -> pd.DataFrame:
    matches = sorted(DATA_PATH.glob(pattern))
    if not matches:
        raise FileNotFoundError(f"No files matched: {pattern} in {DATA_PATH.resolve()}")
    return pd.read_csv(matches[0])

demand = load_one("Demand for United States Lower 48*hourly*UTC time.csv")
coal = load_one("Net generation from coal*hourly*UTC time.csv")
gas = load_one("Net generation from natural gas*hourly*UTC time.csv")
nuclear = load_one("Net generation from nuclear*hourly*UTC time.csv")
hydro = load_one("Net generation from hydro*hourly*UTC time.csv")
solar = load_one("Net generation from solar*hourly*UTC time.csv")
wind = load_one("Net generation from wind*hourly*UTC time.csv")
petroleum = load_one("Net generation from petroleum*hourly*UTC time.csv")
other = load_one("Net generation from other*hourly*UTC time.csv")

In [6]:
datasets = {
    "demand": demand,
    "coal": coal,
    "gas": gas,
    "nuclear": nuclear,
    "hydro": hydro,
    "solar": solar,
    "wind": wind,
    "petroleum": petroleum,
    "other": other,
}

for name, df in datasets.items():
    print(f"\n{name.upper()} shape:", df.shape)
    display(df.head())
    display(df.info())
    display(df.describe())

DEMAND shape: (58936, 2)

                  date  megawatthours
0  2015-07-01 05:00:00         162827
1  2015-07-01 06:00:00         335153
2  2015-07-01 07:00:00         333837
3  2015-07-01 08:00:00         398386
4  2015-07-01 09:00:00         388954

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58936 entries, 0 to 58935
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           58936 non-null  object
 1   megawatthours  58936 non-null  int64
dtypes: int64(1), object(1)
memory usage: 921.0+ KB

None

       megawatthours
count   58936.000000
mean   455225.233032
std     74804.550019
min    162827.000000
25%    403987.000000
50%    443225.000000
75%    491449.000000
max    719649.000000

COAL shape: (32616, 2)

                  date  megawatthours
0  2018-07-01 05:00:00          45037
1  2018-07-01 06:00:00          96248
2  2018-07-01 07:00:00          94535
3  2018-07-01 08:00:00          93672
4  2018-07-01 09:00:00          89685

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32616 entries, 0 to 32615
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           32616 non-null  object
 1   megawatthours  32616 non-null  int64
dtypes: int64(1), object(1)
memory usage: 509.8+ KB

None

       megawatthours
count   32616.000000
mean   102068.062515
std     26780.332764
min     41087.000000
25%     81617.250000
50%     99615.000000
75%    121207.000000
max    173523.000000

GAS shape: (32616, 2)

                  date  megawatthours
0  2018-07-01 05:00:00          66791
1  2018-07-01 06:00:00          92199
2  2018-07-01 07:00:00          89001
3  2018-07-01 08:00:00         101095
4  2018-07-01 09:00:00          97000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32616 entries, 0 to 32615
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           32616 non-null  object
 1   megawatthours  32616 non-null  int64
dtypes: int64(1), object(1)
memory usage: 509.8+ KB

None

       megawatthours
count   32616.000000
mean   160916.168445
std     41644.434711
min     66791.000000
25%    131997.750000
50%    153309.500000
75%    179947.500000
max    325855.000000

NUCLEAR shape: (32616, 2)

                  date  megawatthours
0  2018-07-01 05:00:00          58363
1  2018-07-01 06:00:00          75818
2  2018-07-01 07:00:00          75650
3  2018-07-01 08:00:00          81700
4  2018-07-01 09:00:00          81733

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32616 entries, 0 to 32615
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           32616 non-null  object
 1   megawatthours  32616 non-null  int64
dtypes: int64(1), object(1)
memory usage: 509.8+ KB

None

       megawatthours
count   32616.000000
mean    90108.037896
std      8957.825353
min     52868.000000
25%     85868.500000
50%     91954.000000
75%     95966.250000
max    104655.000000

HYDRO shape: (32616, 2)

                  date  megawatthours
0  2018-07-01 05:00:00           3206
1  2018-07-01 06:00:00           4270
2  2018-07-01 07:00:00           4352
3  2018-07-01 08:00:00          22257
4  2018-07-01 09:00:00          21434

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32616 entries, 0 to 32615
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           32616 non-null  object
 1   megawatthours  32616 non-null  int64
dtypes: int64(1), object(1)
memory usage: 509.8+ KB

None

       megawatthours
count   32616.000000
mean    31270.978599
std      8365.411987
min      3206.000000
25%     25285.000000
50%     31336.000000
75%     37096.250000
max     58025.000000

SOLAR shape: (32616, 2)

                  date  megawatthours
0  2018-07-01 05:00:00              1
1  2018-07-01 06:00:00             -1
2  2018-07-01 07:00:00              0
3  2018-07-01 08:00:00             35
4  2018-07-01 09:00:00             25

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32616 entries, 0 to 32615
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           32616 non-null  object
 1   megawatthours  32616 non-null  int64
dtypes: int64(1), object(1)
memory usage: 509.8+ KB

None

       megawatthours
count   32616.000000
mean     8938.949074
std     10600.541189
min       -10.000000
25%       110.000000
50%      2612.500000
75%     17445.500000
max     91280.000000

WIND shape: (32616, 2)

                  date  megawatthours
0  2018-07-01 05:00:00           3533
1  2018-07-01 06:00:00           7410
2  2018-07-01 07:00:00           8814
3  2018-07-01 08:00:00          15377
4  2018-07-01 09:00:00          14390

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32616 entries, 0 to 32615
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           32616 non-null  object
 1   megawatthours  32616 non-null  int64
dtypes: int64(1), object(1)
memory usage: 509.8+ KB

None

       megawatthours
count   32616.000000
mean    37438.206586
std     15428.151532
min      3533.000000
25%     25554.750000
50%     36501.500000
75%     47923.000000
max     89207.000000

PETROLEUM shape: (32616, 2)

                  date  megawatthours
0  2018-07-01 05:00:00            183
1  2018-07-01 06:00:00           3181
2  2018-07-01 07:00:00           2987
3  2018-07-01 08:00:00           3058
4  2018-07-01 09:00:00           3062

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32616 entries, 0 to 32615
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           32616 non-null  object
 1   megawatthours  32616 non-null  int64
dtypes: int64(1), object(1)
memory usage: 509.8+ KB

None

       megawatthours
count   32616.000000
mean     3491.194628
std      1477.641279
min       183.000000
25%      2465.000000
50%      3274.000000
75%      4215.000000
max     14118.000000

OTHER shape: (32616, 2)

                  date  megawatthours
0  2018-07-01 05:00:00           5226
1  2018-07-01 06:00:00           6460
2  2018-07-01 07:00:00           5983
3  2018-07-01 08:00:00           7037
4  2018-07-01 09:00:00           7050

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32616 entries, 0 to 32615
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           32616 non-null  object
 1   megawatthours  32616 non-null  int64
dtypes: int64(1), object(1)
memory usage: 509.8+ KB

None

       megawatthours
count   32616.000000
mean     8248.251809
std      1656.473465
min      5125.000000
25%      7278.000000
50%      8031.000000
75%      8920.250000
max     33996.000000

### Initial Observations
- Each dataset contains hourly observations keyed by a UTC timestamp.
- The files are consistently structured: a time column plus one numeric measurement column.
- The datasets appear joinable on the timestamp to create a single merged hourly panel.
- Potential issues to verify in later steps include missing values, duplicate timestamps, and any non-numeric entries.

## 3. Data Organization

In [11]:
# Standardize column names and datetime types across all dataframes
datasets = {
    "demand": demand,
    "coal": coal,
    "gas": gas,
    "nuclear": nuclear,
    "hydro": hydro,
    "solar": solar,
    "wind": wind,
    "petroleum": petroleum,
    "other": other,
}

In [12]:
for name, df in datasets.items():
    df.columns = ["datetime", f"{name}_mw"]

In [13]:
for name, df in datasets.items():
    df["datetime"] = pd.to_datetime(df["datetime"], utc=True, errors="coerce")

In [14]:
for name, df in datasets.items():
    n_bad = df["datetime"].isna().sum()
    print(f"{name}: bad datetimes = {n_bad}")

demand: bad datetimes = 0
coal: bad datetimes = 0
gas: bad datetimes = 0
nuclear: bad datetimes = 0
hydro: bad datetimes = 0
solar: bad datetimes = 0
wind: bad datetimes = 0
petroleum: bad datetimes = 0
other: bad datetimes = 0

In [15]:
for name, df in datasets.items():
    df.sort_values("datetime", inplace=True)
    df.reset_index(drop=True, inplace=True)

In [16]:
for name, df in datasets.items():
    diffs = df["datetime"].diff().dropna()
    # Most common time delta
    most_common = diffs.value_counts().head(1)
    print(f"\n{name}: most common timestep")
    display(most_common)

demand: most common timestep

datetime
0 days 01:00:00    58935
Name: count, dtype: int64

coal: most common timestep

datetime
0 days 01:00:00    32615
Name: count, dtype: int64

gas: most common timestep

datetime
0 days 01:00:00    32615
Name: count, dtype: int64

nuclear: most common timestep

datetime
0 days 01:00:00    32615
Name: count, dtype: int64

hydro: most common timestep

datetime
0 days 01:00:00    32615
Name: count, dtype: int64

solar: most common timestep

datetime
0 days 01:00:00    32615
Name: count, dtype: int64

wind: most common timestep

datetime
0 days 01:00:00    32615
Name: count, dtype: int64

petroleum: most common timestep

datetime
0 days 01:00:00    32615
Name: count, dtype: int64

other: most common timestep

datetime
0 days 01:00:00    32615
Name: count, dtype: int64

### Organization Decisions
- Standardized all datasets to use a common join key named `datetime` and a consistent naming convention for values (`<source>_mw`).
- Converted timestamps to timezone-aware UTC datetimes to support reliable time-series merging and downstream feature engineering.
- Sorted each dataset chronologically to simplify validation and joining.

## 4. Data Definition

In [17]:
# Inspect schema, ranges, and summary statistics; document features and types
for name, df in datasets.items():
    print(f"\n{name.upper()}")
    display(df.info())

DEMAND
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58936 entries, 0 to 58935
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   datetime   58936 non-null  datetime64[ns, UTC]
 1   demand_mw  58936 non-null  int64
dtypes: datetime64[ns, UTC](1), int64(1)
memory usage: 921.0 KB

None

COAL
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32616 entries, 0 to 32615
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  32616 non-null  datetime64[ns, UTC]
 1   coal_mw   32616 non-null  int64
dtypes: datetime64[ns, UTC](1), int64(1)
memory usage: 509.8 KB

None

GAS
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32616 entries, 0 to 32615
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  32616 non-null  datetime64[ns, UTC]
 1   gas_mw    32616 non-null  int64
dtypes: datetime64[ns, UTC](1), int64(1)
memory usage: 509.8 KB

None

NUCLEAR
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32616 entries, 0 to 32615
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    32616 non-null  datetime64[ns, UTC]
 1   nuclear_mw  32616 non-null  int64
dtypes: datetime64[ns, UTC](1), int64(1)
memory usage: 509.8 KB

None

HYDRO
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32616 entries, 0 to 32615
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  32616 non-null  datetime64[ns, UTC]
 1   hydro_mw  32616 non-null  int64
dtypes: datetime64[ns, UTC](1), int64(1)
memory usage: 509.8 KB

None

SOLAR
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32616 entries, 0 to 32615
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  32616 non-null  datetime64[ns, UTC]
 1   solar_mw  32616 non-null  int64
dtypes: datetime64[ns, UTC](1), int64(1)
memory usage: 509.8 KB

None

WIND
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32616 entries, 0 to 32615
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  32616 non-null  datetime64[ns, UTC]
 1   wind_mw   32616 non-null  int64
dtypes: datetime64[ns, UTC](1), int64(1)
memory usage: 509.8 KB

None

PETROLEUM
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32616 entries, 0 to 32615
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   datetime      32616 non-null  datetime64[ns, UTC]
 1   petroleum_mw  32616 non-null  int64
dtypes: datetime64[ns, UTC](1), int64(1)
memory usage: 509.8 KB

None

OTHER
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32616 entries, 0 to 32615
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  32616 non-null  datetime64[ns, UTC]
 1   other_mw  32616 non-null  int64
dtypes: datetime64[ns, UTC](1), int64(1)
memory usage: 509.8 KB

None

In [18]:
for name, df in datasets.items():
    is_unique = df["datetime"].is_unique
    print(f"{name}: datetime unique = {is_unique}")

demand: datetime unique = True
coal: datetime unique = True
gas: datetime unique = True
nuclear: datetime unique = True
hydro: datetime unique = True
solar: datetime unique = True
wind: datetime unique = True
petroleum: datetime unique = True
other: datetime unique = True

In [19]:
for name, df in datasets.items():
    print(f"\n{name.upper()} SUMMARY")
    display(df.describe())

DEMAND SUMMARY

           demand_mw
count   58936.000000
mean   455225.233032
std     74804.550019
min    162827.000000
25%    403987.000000
50%    443225.000000
75%    491449.000000
max    719649.000000

COAL SUMMARY

             coal_mw
count   32616.000000
mean   102068.062515
std     26780.332764
min     41087.000000
25%     81617.250000
50%     99615.000000
75%    121207.000000
max    173523.000000

GAS SUMMARY

              gas_mw
count   32616.000000
mean   160916.168445
std     41644.434711
min     66791.000000
25%    131997.750000
50%    153309.500000
75%    179947.500000
max    325855.000000

NUCLEAR SUMMARY

          nuclear_mw
count   32616.000000
mean    90108.037896
std      8957.825353
min     52868.000000
25%     85868.500000
50%     91954.000000
75%     95966.250000
max    104655.000000

HYDRO SUMMARY

           hydro_mw
count  32616.000000
mean   31270.978599
std     8365.411987
min     3206.000000
25%    25285.000000
50%    31336.000000
75%    37096.250000
max    58025.000000

SOLAR SUMMARY

           solar_mw
count  32616.000000
mean    8938.949074
std    10600.541189
min      -10.000000
25%      110.000000
50%     2612.500000
75%    17445.500000
max    91280.000000

WIND SUMMARY

            wind_mw
count  32616.000000
mean   37438.206586
std    15428.151532
min     3533.000000
25%    25554.750000
50%    36501.500000
75%    47923.000000
max    89207.000000

PETROLEUM SUMMARY

       petroleum_mw
count  32616.000000
mean    3491.194628
std     1477.641279
min      183.000000
25%     2465.000000
50%     3274.000000
75%     4215.000000
max    14118.000000

OTHER SUMMARY

           other_mw
count  32616.000000
mean    8248.251809
std     1656.473465
min     5125.000000
25%     7278.000000
50%     8031.000000
75%     8920.250000
max    33996.000000

In [20]:
for name, df in datasets.items():
    col = f"{name}_mw"
    print(
        f"{name}: min={df[col].min():,.0f}, "
        f"max={df[col].max():,.0f}, "
        f"mean={df[col].mean():,.0f}"
    )

demand: min=162,827, max=719,649, mean=455,225
coal: min=41,087, max=173,523, mean=102,068
gas: min=66,791, max=325,855, mean=160,916
nuclear: min=52,868, max=104,655, mean=90,108
hydro: min=3,206, max=58,025, mean=31,271
solar: min=-10, max=91,280, mean=8,939
wind: min=3,533, max=89,207, mean=37,438
petroleum: min=183, max=14,118, mean=3,491
other: min=5,125, max=33,996, mean=8,248

### Feature Definitions

- `datetime`: Hourly timestamp in UTC time representing the observation time.
- `demand_mw`: Total electricity demand across the U.S. Lower 48, measured in megawatts.
- `coal_mw`: Net electricity generation from coal-fired sources (MW).
- `gas_mw`: Net electricity generation from natural gas sources (MW).
- `nuclear_mw`: Net electricity generation from nuclear sources (MW).
- `hydro_mw`: Net electricity generation from hydroelectric sources (MW).
- `solar_mw`: Net electricity generation from solar sources (MW).
- `wind_mw`: Net electricity generation from wind sources (MW).
- `petroleum_mw`: Net electricity generation from petroleum-based sources (MW).
- `other_mw`: Net electricity generation from other generation sources (MW).

### Data Definition Observations

- All datasets share a consistent hourly time index, making them suitable for merging into a single time-series table.
- Electricity demand and generation values vary widely in scale depending on the energy source, which will be important for feature scaling during modeling.
- Renewable sources such as wind and solar exhibit higher variability compared to baseload sources like nuclear.
- The data types and value ranges appear reasonable and consistent with expectations for national-level electricity data.

## 5. Data Cleaning

In [21]:
# Handle missing values, duplicates, and sanity checks; document decisions
for name, df in datasets.items():
    print(f"\n{name.upper()}")
    display(df.isna().sum())

DEMAND

datetime     0
demand_mw    0
dtype: int64

COAL

datetime    0
coal_mw     0
dtype: int64

GAS

datetime    0
gas_mw      0
dtype: int64

NUCLEAR

datetime      0
nuclear_mw    0
dtype: int64

HYDRO

datetime    0
hydro_mw    0
dtype: int64

SOLAR

datetime    0
solar_mw    0
dtype: int64

WIND

datetime    0
wind_mw     0
dtype: int64

PETROLEUM

datetime        0
petroleum_mw    0
dtype: int64

OTHER

datetime    0
other_mw    0
dtype: int64

In [22]:
for name, df in datasets.items():
    print(f"\n{name.upper()} (% missing)")
    display((df.isna().mean() * 100).round(2))

DEMAND (% missing)

datetime     0.0
demand_mw    0.0
dtype: float64

COAL (% missing)

datetime    0.0
coal_mw     0.0
dtype: float64

GAS (% missing)

datetime    0.0
gas_mw      0.0
dtype: float64

NUCLEAR (% missing)

datetime      0.0
nuclear_mw    0.0
dtype: float64

HYDRO (% missing)

datetime    0.0
hydro_mw    0.0
dtype: float64

SOLAR (% missing)

datetime    0.0
solar_mw    0.0
dtype: float64

WIND (% missing)

datetime    0.0
wind_mw     0.0
dtype: float64

PETROLEUM (% missing)

datetime        0.0
petroleum_mw    0.0
dtype: float64

OTHER (% missing)

datetime    0.0
other_mw    0.0
dtype: float64

### Missing Value Strategy

Missing values are present in some generation datasets, particularly for renewable energy sources. Because missing values in this context most likely represent periods of zero or negligible generation rather than data collection errors, missing generation values will be filled with zero. This approach preserves the continuity of the hourly time series and avoids introducing artificial trends that could result from interpolation. Electricity demand values will not be imputed and will be retained as-is.

In [23]:
for name, df in datasets.items():
    if name != "demand":
        df.fillna(0, inplace=True)

In [24]:
for name, df in datasets.items():
    print(f"{name}: total missing = {df.isna().sum().sum()}")

demand: total missing = 0
coal: total missing = 0
gas: total missing = 0
nuclear: total missing = 0
hydro: total missing = 0
solar: total missing = 0
wind: total missing = 0
petroleum: total missing = 0
other: total missing = 0

In [25]:
for name, df in datasets.items():
    dupes = df.duplicated().sum()
    print(f"{name}: duplicate rows = {dupes}")

demand: duplicate rows = 0
coal: duplicate rows = 0
gas: duplicate rows = 0
nuclear: duplicate rows = 0
hydro: duplicate rows = 0
solar: duplicate rows = 0
wind: duplicate rows = 0
petroleum: duplicate rows = 0
other: duplicate rows = 0

In [26]:
for name, df in datasets.items():
    dup_ts = df["datetime"].duplicated().sum()
    print(f"{name}: duplicate timestamps = {dup_ts}")

demand: duplicate timestamps = 0
coal: duplicate timestamps = 0
gas: duplicate timestamps = 0
nuclear: duplicate timestamps = 0
hydro: duplicate timestamps = 0
solar: duplicate timestamps = 0
wind: duplicate timestamps = 0
petroleum: duplicate timestamps = 0
other: duplicate timestamps = 0

In [27]:
for name, df in datasets.items():
    col = f"{name}_mw"
    n_negative = (df[col] < 0).sum()
    print(f"{name}: negative values = {n_negative}")

demand: negative values = 0
coal: negative values = 0
gas: negative values = 0
nuclear: negative values = 0
hydro: negative values = 0
solar: negative values = 91
wind: negative values = 0
petroleum: negative values = 0
other: negative values = 0

In [28]:
# Replace negative solar generation values with zero
solar_negatives = (datasets["solar"]["solar_mw"] < 0).sum()
print(f"Correcting {solar_negatives} negative solar values")

datasets["solar"]["solar_mw"] = datasets["solar"]["solar_mw"].clip(lower=0)

Correcting 91 negative solar values

In [29]:
for name, df in datasets.items():
    col = f"{name}_mw"
    n_negative = (df[col] < 0).sum()
    print(f"{name}: negative values = {n_negative}")

demand: negative values = 0
coal: negative values = 0
gas: negative values = 0
nuclear: negative values = 0
hydro: negative values = 0
solar: negative values = 0
wind: negative values = 0
petroleum: negative values = 0
other: negative values = 0

### Cleaning Decisions Summary

- Missing generation values were filled with zero to represent periods of no production and to maintain continuity in the hourly time series.
- A small number of negative values were identified in the solar generation data. Because negative electricity generation is not physically meaningful at this aggregation level, these values were clipped to zero.
- No duplicate rows or duplicate timestamps were detected in the datasets.
- No rows were dropped during cleaning in order to preserve full temporal coverage of the time series.

## 6. Final Clean Dataset

In [30]:
# Save final merged dataset to ../data/processed and confirm integrity
final_df = demand.copy()

final_df = final_df.merge(coal, on="datetime", how="left")
final_df = final_df.merge(gas, on="datetime", how="left")
final_df = final_df.merge(nuclear, on="datetime", how="left")
final_df = final_df.merge(hydro, on="datetime", how="left")
final_df = final_df.merge(solar, on="datetime", how="left")
final_df = final_df.merge(wind, on="datetime", how="left")
final_df = final_df.merge(petroleum, on="datetime", how="left")
final_df = final_df.merge(other, on="datetime", how="left")

In [31]:
final_df.shape

(58936, 10)

In [32]:
final_df.isna().sum()

datetime            0
demand_mw           0
coal_mw         26320
gas_mw          26320
nuclear_mw      26320
hydro_mw        26320
solar_mw        26320
wind_mw         26320
petroleum_mw    26320
other_mw        26320
dtype: int64

In [33]:
generation_cols = [
    "coal_mw",
    "gas_mw",
    "nuclear_mw",
    "hydro_mw",
    "solar_mw",
    "wind_mw",
    "petroleum_mw",
    "other_mw",
]

final_df[generation_cols] = final_df[generation_cols].fillna(0)

In [34]:
final_df.isna().sum()

datetime        0
demand_mw       0
coal_mw         0
gas_mw          0
nuclear_mw      0
hydro_mw        0
solar_mw        0
wind_mw         0
petroleum_mw    0
other_mw        0
dtype: int64

In [35]:
final_df.describe()

,demand_mw,coal_mw,gas_mw,nuclear_mw,hydro_mw,solar_mw,wind_mw,petroleum_mw,other_mw
count,58936.000000,58936.000000,58936.000000,58936.000000,58936.000000,58936.000000,58936.000000,58936.000000,58936.000000
mean,455225.233032,56485.881753,89053.239955,49867.038211,17305.793369,4946.943244,20718.822893,1932.075540,4564.696976
std,74804.550019,54513.197770,85787.440914,45289.516421,16745.451573,9051.828493,21866.365572,2054.436034,4281.715876
min,162827.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,403987.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,443225.000000,68270.500000,115393.500000,79232.500000,19826.500000,37.000000,17596.500000,1843.000000,6622.000000
75%,491449.000000,103393.000000,157572.750000,92785.000000,32380.250000,5034.500000,38542.000000,3425.250000,8174.250000
max,719649.000000,173523.000000,325855.000000,104655.000000,58025.000000,91280.000000,89207.000000,14118.000000,33996.000000

In [42]:
# Ensure output path is relative to project root

import os
from pathlib import Path

os.chdir(Path.cwd().parent)
print("New CWD:", Path.cwd())


processed_dir = Path("data/processed")
processed_dir.mkdir(parents=True, exist_ok=True)

print("Processed directory ready at:", processed_dir.resolve())


out_path = processed_dir / "us_lower48_hourly_clean.csv"
final_df.to_csv(out_path, index=False)

print("Saved file to:", out_path.resolve())

New CWD: C:\Users\justi\OneDrive\Documents\GitHub
Processed directory ready at: C:\Users\justi\OneDrive\Documents\GitHub\data\processed
Saved file to: C:\Users\justi\OneDrive\Documents\GitHub\data\processed\us_lower48_hourly_clean.csv

### Final Dataset Description

The final dataset contains hourly electricity demand and net generation by source for the U.S. Lower 48. All data has been standardized to a common UTC timestamp, cleaned for missing and invalid values, and merged into a single time-indexed table. This dataset is suitable for exploratory analysis, feature engineering, and predictive modeling in subsequent capstone phases.

## 7. Summary of Wrangling Decisions

### Summary of Work Completed

- Loaded multiple hourly CSV datasets (demand and generation by fuel type) for the U.S. Lower 48.
- Standardized column names to a consistent schema (`datetime`, `<source>_mw`) and converted timestamps to timezone-aware UTC datetimes.
- Verified hourly granularity and ensured timestamps were unique within each dataset.
- Handled missing generation values by filling with zero to preserve time-series continuity.
- Identified a small number of negative values in solar generation and clipped them to zero to enforce physical plausibility.
- Merged all datasets on the hourly `datetime` key into a single analysis-ready table.
- Addressed post-merge gaps caused by non-overlapping time ranges by filling missing generation values with zero.
- Exported the final cleaned dataset to `data/processed/us_lower48_hourly_clean.csv` for downstream EDA and modeling.

### Questions for Mentor Discussion

1. **What kind of cleaning steps did you perform?**  
   Standardized schema and datetimes, validated hourly granularity, handled missing values, corrected physically implausible values (negative solar), and verified no duplicates.

2. **How did you deal with missing values, if there were any?**  
   Missing generation values were filled with zero to maintain continuity and because missingness most likely represents periods of no reported production. Post-merge missingness due to non-overlapping time ranges was handled the same way.

3. **Were there outliers, and how did you handle them?**  
   No extreme outliers were removed during this wrangling phase. The primary data-quality issue observed was negative solar generation values, which were clipped to zero because negative generation is not physically meaningful.

# Capstone Two: Data Wrangling (U.S. Lower 48 Electricity)

## Project Overview
This project prepares an hourly time-series dataset of electricity demand and net generation by source for the U.S. Lower 48. The goal of this phase is to produce a clean, merged, analysis-ready dataset to support exploratory analysis and demand forecasting in later capstone stages.

## Data
Input CSVs are stored in:
- `data/raw/`

The cleaned, merged output is saved to:
- `data/processed/us_lower48_hourly_clean.csv`

## Notebook
Primary notebook:
- `notebooks/CapstoneTwo_DataWrangling.ipynb`

## Wrangling Summary
- Standardized timestamps to timezone-aware UTC datetimes
- Standardized column naming (`datetime`, `<source>_mw`)
- Filled missing generation values with zero
- Clipped negative solar values to zero
- Merged demand and generation datasets on `datetime`
- Exported final cleaned dataset for downstream modeling

## Next Steps
- Exploratory analysis of demand patterns and generation mix
- Feature engineering (time-based features, lag features)
- Forecasting models for demand prediction